# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


/src/Server/Crypto/SecurityService/bin
/src/Server/Crypto/SecurityService/obj

/src/Server/Crypto/Common/bin
/src/Server/Crypto/Common/obj

/src/Server/Crypto/EtherscanApiModule/bin
/src/Server/Crypto/EtherscanApiModule/obj

/src/Server/Crypto/WalletService/bin
/src/Server/Crypto/WalletService/obj

/src/Server/Crypto/ShoppingService/bin
/src/Server/Crypto/ShoppingService/obj

/src/Client/ClientApp/node_modules
/src/Client/ClientApp/.vscode
/src/Server/Crypto/.vs
