<div class="row">
  <div class="col-4">
    <h5>7 day/week</h5>
    <div class="flex-item">
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of this.tokenService.lineChartData; let i=index" [class]="'line-'+i">
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-8">
    <div class="flex" width="100%" height="100%">
      <div class="flex-item">
        <div style="display: block;">
          <canvas baseChart [datasets]="this.tokenService.lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
            [chartType]="lineChartType"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>