<div>
    <br>
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Shop</a></li>
            <li class="breadcrumb-item"><a routerLink="">Apple</a></li>
            <li class="breadcrumb-item active" aria-current="page">Iphone</li>
        </ol>
    </nav>

    <!-- Shop body -->
    <div class="bg-white rounded ">
        <div class="row">
            <!-- catagogies -->
            <div class="col-3">
                <div class="">
                    <h3 class="text-center">Categories</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><button type="button" class="btn btn-outline-primary btn-block">Iphone</button>
                        </li>
                        <li class="list-group-item"><button type="button" class="btn btn-outline-primary btn-block">Tablet</button>
                        </li>
                        <li class="list-group-item"><button type="button" class="btn btn-outline-primary btn-block">Laptop</button>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- main -->
            <div class="col-9">
                <h3 class="text-center">IPhones</h3>
                <div class="row">
                    <div class="col-4" *ngFor="let product of products; index as i">
                        <div class="card border-0 shadow p-3 mb-5">
                            <img [src]="product.pictureUri" class="card-img-top" alt="..." height="250px">
                            <div class="card-body">
                                <button class="btn btn-default btn-sm bg-white border-0" (click)="buyNow(buycontent, product)">
                                    <h5 class="card-title text-primary">{{ product.name }}</h5>
                                </button>
                                <p class="card-text text-sm">{{product.description}}</p>
                                <div class="row">
                                    <div class="col">
                                        <span class="badge badge-light">Stock: {{product.stock}}</span>
                                    </div>
                                    <div class="col">
                                        <h6 class="text-right"> <span class="badge badge-secondary">{{ product.price | number }}
                                                FCO</span></h6>
                                    </div>
                                </div>

                                <button (click)="buyNow(buycontent, product)" class="btn btn-sm btn-primary">
                                    Buy Now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Paging -->
                <div class="row">
                    <div class="col-2">
                    <select class="form-control" [(ngModel)]="selectedSize" (change)="selected()">
                        <option *ngFor="let item of limit" >{{item}}</option>
                    </select>
                    </div>
                    <my-app-paging 
                (goPage)="goToPage($event)"
                (goNext)="onNext()"
                (goPrev)="onPrev()"
                [pagesToShow]="totalPage"
                [page]="pageNumber"
                [perPage]="pageSize"
                [count]="total">
                </my-app-paging>
                </div>
            </div>
        </div>

    </div>


    <!-- BuyNow Modal -->
    <ng-template #buycontent let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Product Detail</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <img [src]="selectedProduct.pictureUri" class="card-img-top" alt="..." height="250px">
                        </div>
                        <div class="col">
                            <a class="text-primary">
                                <h5 class="card-title">{{ selectedProduct.name }}</h5>
                            </a>
                            <p class="card-text text-sm">{{selectedProduct.description}}</p>
                            <div class="row">
                                <div class="col">
                                    <span class="badge badge-light">Stock: {{selectedProduct.stock}}</span>
                                </div>
                                <div class="col">
                                    <h6 class="text-right"> <span class="badge badge-secondary">{{ selectedProduct.price | number }}
                                            FCO</span></h6>
                                </div>
                            </div>
                            <label>Products Total: <input min="1" max="{{ selectedProduct.stock }}" [(ngModel)]="orderTotal" type="number"></label>
                            <hr>
                            <h4>Total payment:<b> {{selectedProduct.price*orderTotal | number }} FCO</b></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="mr-auto">
            </div>
            <div *ngIf="error && error !== ''" class="alert alert-danger" role="alert">
                {{error}}
            </div>
            <button type="button" (click)="buyConfirm()" class="btn btn-outline-info">Buy</button>
            <button type="button" (click)="modal.dismiss('Close')" class="btn btn-outline-dark">Close</button>
        </div>
    </ng-template>
   
    