<h3>Orders</h3>
<hr>
<table class="table table-striped bg-white">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">UpdatedDate</th>
            <th scope="col">BuyerEmail</th>
            <th scope="col">ProductName</th>
            <th scope="col">TotalProducts</th>
            <th scope="col">TotalPayment</th>
            <th scope="col">OrderStatus</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orderService.orders; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ order.updatedDate | date: 'MM/dd/yyyy hh:mm:ss' }}</td>
            <td>{{ order.buyerEmail }}</td>
            <td>{{ order.productName }}</td>
            <td>{{ order.totalProducts | number}}</td>
            <td class="float-right">{{ order.totalPayment | number }} <span class="badge badge-primary">{{order.currency}}</span></td>
            <td><span class="badge badge-success" [ngClass]="{'badge-danger': order.orderStatus === 3}">{{ orderStatus[order.orderStatus] }}</span></td>
        </tr>
    </tbody>
</table>