<br>
<h3>Order history</h3>
<hr>

<table class="table table-striped bg-white">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">TxHash</th>
            <th scope="col">Updated Date</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Total Products</th>
            <th scope="col">Total Payment</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody *ngIf="orderService.orders">
        <tr *ngFor="let order of orderService.orders; index as i">
            <td>{{ i + 1 }}</td>
            <td class="text-truncate" style="max-width: 120px;">{{order.txHash}}</td>
            <td>{{ order.updatedDate | date: 'MM/dd/yyyy hh:mm:ss' }}</td>
            <td>{{ order.productName }}</td>
            <td>{{ order.totalPayment / order.totalProducts | number}}</td>
            <td>{{ order.totalProducts | number}}</td>
            <td class="float-right">{{ order.totalPayment | number }} <span
                    class="badge badge-secondary">{{order.currency}}</span></td>
            <td>
                <span *ngIf="order.orderStatus === 0"
                    class="badge badge-light">{{ orderStatus[order.orderStatus] }}</span>
                <span *ngIf="order.orderStatus === 1"
                    class="badge badge-info">{{ orderStatus[order.orderStatus] }}</span>
                <span *ngIf="order.orderStatus === 2"
                    class="badge badge-success">{{ orderStatus[order.orderStatus] }}</span>
                <span *ngIf="order.orderStatus === 3"
                    class="badge badge-warning">{{ orderStatus[order.orderStatus] }}</span>
                <span *ngIf="order.orderStatus === 4"
                    class="badge badge-danger">{{ orderStatus[order.orderStatus] }}</span>
                <span *ngIf="order.orderStatus === 5"
                    class="badge badge-primary">{{ orderStatus[order.orderStatus] }}</span>
            </td>
            <td>
                <button *ngIf="order.orderStatus < 3 && order.totalProducts > 0" (click)="refundOrder(refundcontent,order)"
                    class="btn btn-primary btn-sm">Refund</button>
            </td>
        </tr>
    </tbody>
</table>
  <!-- Refund Modal -->
  <ng-template #refundcontent let-modal>
      <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Total Products Refund</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <div class="card border-0">
              <div class="card-body">
                  <div class="row">

                      <div class="col">
                          <label></label>
                          <label>Products Total: <input min="1" max="{{ orderRefund.totalProducts }}" [(ngModel)]="refundTotal" type="number"></label>
                          <hr>
                          <h4>Total Refund:<b> {{orderRefund.totalPayment/orderRefund.totalProducts*refundTotal | number }} FCO</b></h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <div class="mr-auto">
          </div>
          <div *ngIf="error && error !== ''" class="alert alert-danger" role="alert">
              {{error}}
          </div>
          <button type="button" (click)="refundConfirm(orderRefund.id)" class="btn btn-outline-info">Refund</button>
          <button type="button" (click)="modal.dismiss('Close')" class="btn btn-outline-dark">Close</button>
      </div>
  </ng-template>
